* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.div1 {
    background-color: red;
    height: 50vh;
    width: 50vw;
    position: relative;
}

.div2 {
    height: 50vh;
    width: 50vw;
    background-color: blue;
    position: absolute;
    bottom: 0;
    right: 0;
}